*.pyc
*.rpm
*.tar.xz
bots
dist/
lib/
test/common/
cockpit-machines.spec
node_modules/
package-lock.json
packaging/arch/PKGBUILD
packaging/debian/changelog
test/images/
tools/
tmp/

# Configuration directory of IDE and editor
.vscode
.idea

# Test output
Test*.log
cockpit-*.tar*
Test*.png
Test*.html
Test*.json

# Translation temporary files
*.pot
/po/LINGUAS
