bots/
lib/
test/common/
cockpit-machines-*.rpm
cockpit-machines.spec
node_modules/
package-lock.json
test/images/
tmp/

# Test output
Test*.log
cockpit-*.tar*
Test*.png
Test*.html
Test*.json

# Translation temporary files
*.pot
