[tool.mypy]
follow_imports = 'silent'  # https://github.com/python-lsp/pylsp-mypy/issues/81
scripts_are_modules = true  # allow checking all scripts in one invocation
explicit_package_bases = true
mypy_path = 'test/common:test:bots'
exclude = [
    "bots"
]

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
    # run without bots checked out
    "machine.*",
    "testvm",

    # run without gobject-introspection
    "gi.*",
]

[[tool.mypy.overrides]]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
no_implicit_reexport = true
strict_concatenate = true
strict_equality = true
warn_unused_ignores = true
module = [
   "machineslib",
]

[tool.pyright]
strict = ["**"]
extraPaths = ["test/common", "bots"]

[tool.ruff]
exclude = [
    ".git/",
    "modules/",
    "node_modules/",
]
line-length = 118
preview = true
src = []

[tool.ruff.lint]
select = [
    "A",       # flake8-builtins
    "B",       # flake8-bugbear
    "C4",      # flake8-comprehensions
    "D300",    # pydocstyle: Forbid ''' in docstrings
    "E",       # pycodestyle
    "EXE",     # flake8-executable
    "F",       # pyflakes
    "FBT",     # flake8-boolean-trap
    "G",       # flake8-logging-format
    "I",       # isort
    "ICN",     # flake8-import-conventions
    "ISC",     # flake8-implicit-str-concat
    "PLE",     # pylint errors
    "PGH",     # pygrep-hooks
    "RSE",     # flake8-raise
    "RUF",     # ruff rules
    "T10",     # flake8-debugger
    "TCH",     # flake8-type-checking
    "UP032",   # f-string
    "W",       # warnings (mostly whitespace)
    "YTT",     # flake8-2020
]
ignore = [
    "A003",  # Class attribute is shadowing a python builtin
    "B011",  # Do not `assert False` (`python -O` removes these calls), raise `AssertionError()`
    "E731",  # Do not assign a `lambda` expression, use a `def`
    "FBT002", # Boolean default value in function definition
    "FBT003", # Boolean positional value in function call
]

[tool.ruff.lint.flake8-pytest-style]
fixture-parentheses = false
mark-parentheses = false

[tool.ruff.lint.isort]
known-first-party = ["cockpit"]

[tool.vulture]
ignore_names = [
   "do_*",
   "test[A-Z0-9]*",
   # testlib API
   "provision",
   # RangeHTTPRequestHandler API
   "copyfile",
   # ssl.SSLContext API
   "check_hostname",
   # referenced as a type string for RHEL 8 compatibility
   "Any",
]

[tool.codespell]
skip = './node_modules,./dist'
ignore-words-list = 'doubleclick,medias'
