.disk-source {
    --disk-source-grid-columns: 5;
    grid-column-start: 2; /* Align to label in outer grid */
    display: grid;
    grid: auto / repeat(var(--disk-source-grid-columns), auto 1fr);
    gap: 0 0.5rem;
    opacity: 0.85; /* approx pf-black-700; AAA contrast; works with hover */
}

.disk-source > span {
    justify-self: end;
}

.disk-source > strong {
    font-weight: 600;
}

.disk-source > strong:only-of-type {
    /* Stretch single data blurb to the end */
    grid-column: 2 / -1;
}

@media (max-width: 480px) {
    .disk-source {
        /* Collapse mobile */
        --disk-source-grid-columns: 1;
    }
}
