.footer-warning {
    color: var(--pf-v5-global--danger-color--100);
    margin-block-end: var(--pf-v5-global--spacer--sm);
}

.popover-headline {
    margin-block-end: var(--pf-v5-global--spacer--xs);
}

/* Add some padding to avoid scrollbar being shown */
#migrate-modal form {
    padding-block-end: var(--pf-v5-global--spacer--xs);
}
