.footer-warning {
    color: var(--pf-v5-global--danger-color--100);
    margin-bottom: var(--pf-v5-global--spacer--sm);
}

.popover-headline {
    margin-bottom: var(--pf-v5-global--spacer--xs);
}

// Add some padding to avoid scrollbar being shown
#migrate-modal form {
    padding-bottom: var(--pf-v5-global--spacer--xs);
}
