.spice-replace-dialog-panel {
    // drop excessive inside spacing
    .pf-v5-c-panel__main-body {
        padding-block-start: 0;
        padding-block-end: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

    // but separate it a bit from the text above
    margin-block-start: var(--pf-v5-global--spacer--md);
}

.spice-replace-dialog-popover-list {
    list-style: inside;
}

// HACK: fix blurred line between panel main body and footer; this should go into the PF overrides
.pf-v5-c-panel.pf-m-scrollable {
    --pf-v5-c-panel__footer--BoxShadow: 0 -1px var(--pf-v5-global--BorderColor--100);
}

#replace-spice-dialog-select-all {
    --pf-v5-c-button--PaddingLeft: 0;
}
