.unit-select, .size-input {
    max-width: 5rem;
}

.pf-c-tooltip__arrow {
    margin-right: var(--pf-global--spacer--xl);
}

.invalid-token-helper {
    color: var(--pf-c-form__helper-text--m-error--Color);
}
