.unit-select, .size-input {
    max-inline-size: 5rem;
}

.pf-v5-c-tooltip__arrow {
    margin-inline-end: var(--pf-v5-global--spacer--xl);
}

.invalid-token-helper {
    color: var(--pf-v5-c-form__helper-text--m-error--Color);
}
