.overview-tab.pf-l-flex {
    gap: var(--pf-global--spacer--lg);
}

.overview-icon svg {
    color: var(--pf-c-description-list__term-icon--Color);
    font-size: var(--pf-c-description-list__term--FontSize);
}
