.overview-tab.pf-v5-l-flex {
    gap: var(--pf-v5-global--spacer--lg);
}

.overview-icon svg {
    color: var(--pf-v5-c-description-list__term-icon--Color);
    font-size: var(--pf-v5-c-description-list__term--FontSize);
}
