.resource-state-text {
  margin-right: var(--pf-v5-c-label--PaddingRight);

  // In definition lists (for Overview),
  // match text size and alignment
  .pf-v5-c-table &,
  .pf-v5-c-description-list & {
    // Match text size
    font-size: inherit;
    // Compensate for padding
    position: relative;
    // Using margin to remove the extra padded space,
    // instead of keeping the space and moving contents w/ just left/top
    margin-left: calc(-1 * var(--pf-v5-c-label--PaddingLeft));
  }
}

.pf-v5-c-label.resource-state--shut-off, .pf-v5-c-label.resource-state--inactive {
  background: transparent;
}
