.consoles-card .pf-v5-c-card__footer:empty {
    display: none;
}

.vm-console {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;

    /* HACK - I only get this to behave with a two column grid.  With only
              one column, the VNC console will make the page wider
              than the browser window...
     */
    display: grid;
    grid-template-areas: 'main main'
                         'footer footer';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
}

.vm-console-footer {
    grid-area: footer;
    margin-block-start: var(--pf-t--global--spacer--md);
}

/* VNC
 */

.vm-console-vnc {
    grid-area: main;
}

.vm-console-vnc,
.vm-console-vnc > div {
    inline-size: 100%;
    block-size: 100%;
}

.vm-console .pending {
    /* XXX */
    color: var(--pf-v5-global--custom-color--200);
}

.ct-remote-viewer-popover {
    max-inline-size: 60ch;
}

/* Serial
 */

.vm-console-serial {
  grid-area: main;
}

/* Expanded console
 */

.consoles-page-expanded {
    .pf-v6-c-page__main-container,
    .pf-v6-c-page__main,
    .pf-v6-c-page__main-section,
    .consoles-card {
        block-size: 100%;
    }

    .vm-console {
        /* HACK - in the expanded view, "grid" doesn't work and only "block"
                  keeps the console in bounds.
         */
        display: block;
    }

    .consoles-card .pf-v6-c-card__body {
        /* 100% - card header height (padding-top + title line height + padding-bottom) */
        /* block-size: calc(100% - (var(--pf-v6-c-card--first-child--PaddingBlockStart) + var(--pf-v6-c-card__title--not--last-child--PaddingBlockEnd))); */
        block-size: calc(100% - 110px);
        padding: 0;
    }
}
